<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Projecttest</title>
=======
    <title>Name</title>
>>>>>>> a1b933c0137bb29b8215aeb933d0f80dc32aaa48
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
